#bg-img {
    background-image: url(https://img.freepik.com/free-photo/mountain-landscape-with-car-driving-down-road_1340-26701.jpg?t=st=1689488139~exp=1689491739~hmac=525b5eda2a97a4d78363af2c765b81b1fe3b81e237fd35148c3fe898137a864d&w=1380);
    background-repeat: no-repeat;
    background-size: cover;
}